/* ============================================= */
/*                   Thumbnails                  */
/* ============================================= */

//flexbox

.flex-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;   
    max-width: $max-width;
    margin: 0 auto;
}

.item {
    margin: 1.5em;
}

// @media (max-width: $break-s) {
//     .item {

//     }
// }

// @media (max-width: $break-m) {
//     .item {
      
//     }
// }