/* ============================================= */
/*                   Thumbnails                  */
/* ============================================= */

h2{
    color: green;
}

.flex-photos {
    @include center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex: 33%;
}

.flex-photos img{
    margin: 10px;
}