
/* ============================================= */
/*              Search Bar                       */
/* ============================================= */

#search {
    background-image: url(photos/search.jpg);
    background-position: 10px 12px;
    background-repeat: no-repeat;
    display: block;
    width: 30%;
    margin: 0 auto;
    font-size: 1em;
    padding: .75em;
    padding-left: 40px;
    border: rgb(109, 109, 109) 2px solid;
    border-radius: 5px;
}

@media (max-width: $break-s) {
    #search{
        width: 50%;
    }

    p {
        display: none;
    }
}

@media (max-width: $break-m) {
    #search{
        width: 40%;
    }
    
    p {
        display: none;
    }
}